html, body {
  height: 100%;
  width: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: auto;
}

.home-page {
  height: 100%;
  overflow-y: auto;
  min-height: 100vh;  /*s ovime je popravljen slučaj kada nema oglasa za prikaz - onda bi dio stranice na dnu bio bijel, ovako je cijelo vrijeme plavo*/
}

.home-page h1 {
  text-align: center;
  margin-top: 1%;
}

.child1 {
  grid-area: childArea1;
}

.child2 {
  grid-area: childArea2;
}

@media only screen and (min-width: 1024px) {
  .body-wrapper {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "childArea1 childArea2";
    margin: 2% 10% 0 10%; /* Odmakne sve nekako malo u centar */
  }
}

@media only screen and (max-width: 1024px) {
  .body-wrapper {
    display: grid;
    grid-template-areas: "childArea2" "childArea1";
    margin: 2% 2%;
  } 
}

.body-wrapper-child {
  margin: 0 5% 0 5%;    /* odmakne oglase i rang listu jedno od drugog */
}