.section-title {
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-bottom: 1%;
  border: 2px solid black;
  border-radius: 10px;
}

.section-title-primary-color {
  background-color: blanchedalmond;
}

.section-title-secondary-color {
  background-color: aqua;
}
