.oglas-container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    max-width: 50%;
    background-color: white;
}

.oglas-korisnik-info-container {
    margin: 20px;
}

.oglas-info-container{
    display: flex;
    flex-direction: column;
}

.oglas-naslov {
    margin: 20px;
    min-width: 100px;   /*ovime je osigurano to da nema overflowa*/
    max-width: 100%; /*ovime je osigurano to da nema overflowa*/
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: none;
}

.oglas-text-opis {
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}