html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#root {
    background: linear-gradient(45deg, blue, red);
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*background: linear-gradient(120deg, #56CCF2, #2F80ED);*/

    /*background: linear-gradient(120deg, #00b09b,#96c93d);*/
}

.profile-container {
    margin: 0;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}