html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.profile-container {
    margin: 0;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}